[ default_ca ]
policy = policy_loose
private_key = root-key.pem
certificate = root.pem
new_certs_dir = .
database = database.txt
serial = serial.txt

[ policy_loose ]

#C = supplied
#O = supplied
CN = supplied

[ req ]
# Options for the `req` tool (`man req`).
default_bits        = 2048
distinguished_name  = req_distinguished_name
string_mask         = utf8only

# SHA-1 is deprecated, so use SHA-2 instead.
default_md          = sha256

# Extension to add when the -x509 option is used.
x509_extensions     = v3_ca

[ req_distinguished_name ]

[ v3_ca ]
basicConstraints = critical, @basic_constraints
nameConstraints=excluded;DNS:mil,excluded;IP:0.0.0.0/0.0.0.0,excluded;IP:0:0:0:0:0:0:0:0/0:0:0:0:0:0:0:0
keyUsage = critical, digitalSignature, cRLSign, keyCertSign
authorityInfoAccess = OCSP;URI:http://localhost:4003
# Note: doesn't work yet because self signed?
authorityKeyIdentifier = keyid:always,issuer
certificatePolicies=ia5org,2.23.140.1.2.1,@polsect
crlDistributionPoints=crldp_section
subjectKeyIdentifier = hash

[polsect]

policyIdentifier = 1.3.6.1.4.1.44947.1.1.1
CPS="http://localhost:4000/cps"

[crldp_section]
fullname=URI:http://localhost:5555

[ basic_constraints ]
CA=true
pathlen=0
